body{
	width:100%;
}
h1{
	font-size:2.5em;
}
.projectTitle{
	text-align: center;
	color:black;
  font-size: 1.2em;
}
.rasaText{
	font-size:1.2em;
    color: black;
    /*float:right;*/
    width:45%;
    display: inline-block;
    /*margin-top: 20px;*/
}

.modal-content{
  background-color: black;
}
.modal-body{
  padding: 0 0 0 0;
}
.modal-header{
  display: none;
}
.rasaImage{
	width:30%;
    display: inline-block;
    overflow: hidden;
    margin: 0 30px 0 0 ;
    vertical-align: top;
}
.sectionName{
	border-top: 1px solid rgb(200, 200, 200);
	padding-top:25px;
	text-align: center;
	color: rgb(0, 0, 0);
	margin: 30px 0 30px 0;
  font-size: 1.5em;
}
.carousel{
	margin: 0 0 10px 0;
	width:100%;
}
#toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}
.worksThumbnail{
	width:100%;
	margin-bottom: 20px;
}
.project{
	width:45%;
	display:inline-block;
}
.aboutMe{
    padding-left: 15px;
}
#project1{
	float:left;
}
#project2{
	float:right;
}

@media (max-width: 767px) {
  .service:not(:first-of-type){
    padding-top: 40px;
    border-top: 1px solid rgb(220,220,220);
  }

    .rasaText{
        clear:both;
        width:100%;
    }
    .rasaImage,.project{
        width:100%;
        margin: 0 0 30px 0;
    }

}
@media (max-width: 650px) {
	.rasaText{
		clear:both;
        width:100%;
	}
	.rasaImage,.project{
		width:100%;
		margin: 0 0 30px 0;
	}
	#project1{
		border-top:none;
		padding-top:0;
	}
	.project{
		padding-top: 30px;
		border-top: 1px solid rgb(200,200,200);
	}


}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}
.projectDiv{
	cursor: pointer;
}
.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
	width: 100%;
	height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}

a.anchor {
    display: block;
    position: relative;
    top: -20px;
    visibility: hidden;
}
.projectRow{
  display: block;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.projectRow:last-child{
  border-bottom: none;
}

.servicesImage{
  width: 150px;
}

.service{
 padding-bottom: 20px;
}

.serviceText{
  display: inline-block;
  text-align: center;
}

.servicesList{
      width: 70%;
    margin: auto;

}

#linkas{
  color: black;
  text-align: center;
}
